{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block content %}

<div class="bg-body-secondary pb-4">
  <h1 class="text-center p-5">Tution History</h1>
  <div class="table-responsive">
    {% if application %}
      <table class="table table-striped table-hover w-100 bg-body-secondary">
          <thead>
              <tr style="padding-left: 50px;">
                  <th style="padding-left: 50px;" scope="col">Tution ID</th>
                  <th scope="col">Apply Time</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Tution Location</th>
                  <th scope="col">Fee</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
              {% for i in application %}
                  <tr>
                      <th style="padding-left: 50px;" scope="row">{{i.tution.id}}</th>
                      <td>{{i.created_time}}</td>
                      <td>{{i.tution.subject}}</td>
                      <td>{{i.tution.location}}</td>
                      <td>{{i.tution.fee}}</td>
                      <td><a class="btn btn-info" href="{% url 'review' i.tution.id %}">Reviews </a></td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      {% else %}
      
      <div class="container text-center mt-5">
        <div>
            <h1>Not found tution history</h1>
        </div>

        <div>
            <img style="mix-blend-mode: color-burn;" src="{% static "opps.jpg" %}" alt="opps">
        </div>
    </div>
      {% endif %}
  </div>
</div>

{% endblock content %}