<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

</head>
  <body class="mt-5">


<div class="continer">
    <h1 class="text-center text-success m-5">Latest Tution</h1>
    <div class="swiffy-slider slider-item-show3 slider-nav-dark slider-nav-visible slider-nav-outside slider-item-snapstart my-3 slider-nav-sm my-xl-5 slider-indicators-square slider-indicators-outside slider-indicators-dark slider-nav-animation-slideup slider-nav-animation">
        <div class="slider-container">
            <div class="">
                <div>
                    <h3 class="mb-0 h6" style="color:#DF1E1E;">Today @ 11:12</h3>
                    <strong>Never seen before:</strong> English median class Ten  Danmondi 💵 10000 <small class="text-muted text-uppercase">TK</small>
                </div>
            </div>
            <div class="slide-visible">
                <div>
                    <h3 class="mb-0 h6" style="color:#DF1E1E;">Today @ 10:02</h3>
                    <span class="badge bg-warning text-dark"><strong>BREAKING</strong></span> Requere Science student tution class Ten  Dhaka 💵 6000 Tk. <small class="text-muted text-uppercase"></small>
                </div>
            </div>
            <div class="slide-visible">
                <div>
                    <h3 class="mb-0 h6" style="color:#DF1E1E;">Today @ 09:48</h3>
                    Requere Science student tution class Ten  Ebglish Dhaka 💵 8000 Tk. <small class="text-muted text-uppercase">Tk</small>
                </div>
            </div>
            <div class="slide-visible">
                <div>
                    <h3 class="mb-0 h6" style="color:#DF1E1E;">Today @ 09:32</h3>
                    <span class="badge bg-success"><strong>Style</strong></span> Get fantastic lunch recipes for developers working at home. <small class="text-muted text-uppercase">Awesome</small>
                </div>
            </div>
            <div class="">
                <div>
                    <h3 class="mb-0 h6" style="color:#DF1E1E;">Today @ 09:28</h3>
                    <strong>Just released:</strong> an even more fat-ass framework that can render markup <small class="text-muted text-uppercase">Music</small>
                </div>
            </div>
            <div class="">
                <div>
                    <h3 class="mb-0 h6" style="color:#DF1E1E;">Today @ 08:08</h3>
                    Swiffy Slider is very nice, neat and fast. <small class="text-muted text-uppercase">Simple</small>
                </div>
            </div>
        </div>
    
        <button type="button" class="slider-nav" aria-label="Go left"></button>
        <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
    
        <div class="slider-indicators" style="justify-content:right;margin-left: 3rem;">
            <button class="" aria-label="Go to slide"></button>
            <button aria-label="Go to slide" class="active"></button>
            <button aria-label="Go to slide" class=""></button>
            <button aria-label="Go to slide" class=""></button>
        </div>
    
    </div>
</div>



          <!-- Facts -->
          <section class="bg-img bg-repeat no-overlay section-sm">
            <div class="container p-5">
                <h1 class="text-center mb-5">LifeTech Success History</h1>
                <div class="row ">
                    <div class="counter col-md-3 col-sm-6">
                        <h2><span data-from="0" data-to="6890"></span>6890+</h2>
                        <b>_______</b>
                        <h6>Tuitors</h6>
                    </div>
    
                    <div class="counter col-md-3 col-sm-6">
                        <h2><span data-from="0" data-to="1200"></span>1200+</h2>
                        <b>_______</b>
                        <h6>Tuition</h6>
                    </div>
    
                    <div class="counter col-md-3 col-sm-6">
                        <h2><span data-from="0" data-to="6890"></span>6890+</h2>
                        <b>_______</b>
                        <h6>Resume</h6>
                    </div>
    
                    <div class="counter col-md-3 col-sm-6">
                        <h2><span data-from="0" data-to="4763"></span>4763+</h2>
                        <b>_______</b>
                        <h6>Sucess Story</h6>
                    </div>
                </div>
    
            </div>
        </section>
        <!-- END Facts -->
        <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>