{% extends "base.html" %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}




<div class="container ">
  <div class="row mt-5 mb-5">
    <div class="col-lg-6 col-md-12"><div id="carouselExample" class="carousel slide ">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/t5.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="{% static 'images/t4.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/t5.png' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
    <div class="col-lg-6 col-md-12 text-center mt-5">
      <h2 class="text-danger">LOOKING FOR EXPERT TUTOR??</h2>
      <h3><a href="{% url 'teachers' %}">Click here looking for expert tutor</a></h3>
      <br>
      <h1 style="color: #263238;">Recent 65 Tuition</h1>
      <h5> <a href="{% if request.user.is_authenticated %}{% url 'seeTution' %}
        {% else %}{% url 'home' %}{% endif %}">Find tuition that fits you better</a></h5>
    </div>
  </div>
</div>
{% include "service.html" %}

  {% include "about.html" %}


{% endblock content %}