<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Services</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="text-center p-5 mt-4 mb-4">LifeTech Servies</h1>
    
<div class="container ">
    <div class="row  mt-5 mb-5">
      <div class="col-lg-6 col-md-12"> <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="static/images/science.jpg" class="img-fluid rounded-start h-100" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Science Special Care</h5>
                <p class="card-text">Science" refers to a systematic enterprise that builds and organizes knowledge in the form of testable explanations and predictions about the universe. It is a broad term that encompasses various disciplines such as physics, chemistry, biology, astronomy, and more.</p>
                <p class="card-text"><small class="text-body-secondary">Special care is running</small></p>
              </div>
            </div>
          </div>
        </div></div>
      <div class="col-lg-6 col-md-12"> <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="static/images/Commerce.jpg" class="img-fluid rounded-start h-100" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Commerce Special Care</h5>
                <p class="card-text">Certainly! "Commerce" refers to the activity of buying and selling goods and services, typically on a large scale. It encompasses various aspects of business, trade, and economic activities.governments and includes activities such as marketing, sales, finance, and logistics.</p>
                <p class="card-text"><small class="text-body-secondary">Special care is running </small></p>
              </div>
            </div>
          </div>
        </div></div>
     
    </div>
    <div class="row  mt-5 mb-5">
      <div class="col-lg-6 col-md-12"> <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="static/images/arts.jpg" class="img-fluid rounded-start h-100" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Arts Special Care</h5>
                <p class="card-text">Certainly! The term "Arts" is a broad category that encompasses a wide range of human activities and the products of those activities. Here are some key aspects and subcategories related to the term "Arts": It is a broad term that encompasses various disciplines and more.</p>
                <p class="card-text"><small class="text-body-secondary">Special care is running</small></p>
              </div>
            </div>
          </div>
        </div></div>
      <div class="col-lg-6 col-md-12"> <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="static/images/adm.jpg" class="img-fluid rounded-start h-100" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Admission Special Care</h5>
                <p class="card-text">This typically involves the process of applying to a college or university. It may include submitting application forms, academic records, standardized test scores, letters of recommendation, and sometimes an essay.Admission" can refer to various contexts.
                </p>
                <p class="card-text"><small class="text-body-secondary">Special care is running </small></p>
              </div>
            </div>
          </div>
        </div></div>
     
    </div>
    <div class="row  mt-5 mb-5">
      <div class="col-lg-6 col-md-12"> <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="static/images/eng.webp" class="img-fluid rounded-start h-100" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Spoken English  Care</h5>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti mollitia placeat perspiciatis quia nisi aperiam eligendi blanditiis necessitatibus iure hic consequatur odit harum suscipit ut, cumque minus saepe porro? Facere quae quia accusantium  eius rerum commodi, ut nobis? </p>
                <p class="card-text"><small class="text-body-secondary">Special care is running</small></p>
              </div>
            </div>
          </div>
        </div></div>
      <div class="col-lg-6 col-md-12"> <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="static/images/wri.jpg" class="img-fluid rounded-start h-100" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Free  Writing Care</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quod voluptates dolores numquam ullam reiciendis quam veniam ipsa consequatur voluptatum debitis molestiae dignissimos illum saepe suscipit, nemo ut omnis consequuntur?Lorem ipsum dolor sit amet.</p>
                <p class="card-text"><small class="text-body-secondary">Special care is running </small></p>
              </div>
            </div>
          </div>
        </div></div>
     
    </div>
    
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>