{% extends "base.html" %}

{% block title %}review page{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container pb-5 mt-5" style="width: 50%; margin: auto">
    <h2>Reviews for #{{tution.id}} {{ tution.subject }}</h2>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>
                    <p>Reviewer: {{ review.reviewer.user.first_name }}  {{ review.ratting }}</p>
                    <p>{{ review.body }}</p>
                    <p> {{ review.created_time }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No reviews for {{ tution.subject }} yet.</p>
    {% endif %}
</div>
{% endblock content %}