{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block content %}

<div class="text-center mt-3">
  <h3>Applications for Tution ID #{{tution.id}}</h3>
</div>
<div class="bg-body-secondary pb-4 mt-5 mb-5">
  {% if applications %}
  <table class="w-100 bg-body-secondary">
      <thead>
        <tr style="padding-left: 50px;">
            <th style="padding-left: 50px;" scope="col">Applicant</th>
            <th scope="col">Applicant Education</th>
            <th scope="col">Apply time</th>
            <th scope="col">Applicant MObile No</th>
            <th scope="col">Apply status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for i in applications %}
            <tr>
                <th style="padding-left: 50px;" scope="row">{{i.applicant}}</th>
                <td>{{i.applicant.educational_qualification}}</td>
                <td>{{i.created_time}}</td>
                <td>{{i.applicant.mobile_no}}</td>
                <td>{{i.appaly_status}}</td>
                <td><a class="btn btn-info" href="{% url 'confirm_application' i.id %}">Appoint </a></td>
                
              </tr>
    
            {% endfor %}
          
        </tbody>
    </table>
    {% else %}
    <div class="text-center mt-5 mb-5">
      <img style="mix-blend-mode: color-burn;" src="{% static 'opps.jpg' %}" alt="opps">
    </div>
    <div>
        <p class="text-center">Applications Are Not Available!</p>
    </div>
    {% endif %}
</div>

{% endblock content %}