<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email</title>
</head>
<body>
    <h1>Congratulations 🎉</h1>
    <br>
    <h5>You are selected for tution id # {{application.tution.id}} </h5>
    <h5>location :  {{application.tution.location}} </h5>
    <h5>{{application.tution.subject}} : Weekly {{application.tution.weekly_day}} days and daily {{application.tution.daily_time}} hour </h5>
    
</body>
</html>